MobileGame/.vs/
MobileGame/Library/
MobileGame/Temp/
MobileGame/obj/
MobileGame/Logs/
MobileGame/.vsconfig
MobileGame/Assembly-CSharp.csproj
MobileGame/MobileGame.sln
MobileServer/.vs/
MobileServer/MobileServer/bin/
MobileServer/MobileServer/obj/
MobileServer/MobileProtocol/bin/
MobileServer/MobileProtocol/obj/
